@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
/*반응형 화면 크기*/
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Courgette&family=DM+Serif+Display&family=Indie+Flower&family=Julee&family=Nanum+Myeongjo:wght@400;700&family=Noto+Serif+Khojki&family=Permanent+Marker&display=swap");
@font-face {
  font-family: "pretend";
  src: url("../font/Pretendard-Light.woff2") format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "pretend";
  src: url("../font/Pretendard-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "pretend";
  src: url("../font/Pretendard-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "pretend";
  src: url("../font/Pretendard-SemiBold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "pretend";
  src: url("../font/Pretendard-Bold.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Grotesk";
  src: url("../font/Grotesk-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Condensed-Regular";
  src: url("../font/Condensed-Regular.woff2") format("woff2");
  font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*, :after, :before {
  box-sizing: border-box;
  flex-shrink: 0;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
       text-size-adjust: 100%;
  cursor: default;
  line-height: 1.5;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html, body {
  height: 100%;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
    @세팅구역
*/
body {
  counter-reset: section;
  font-family: "pretend", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #040404;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  word-break: keep-all;
}

.hidden,
[hidden] {
  display: none !important;
}

*::-moz-selection {
  background: #70ff0a;
}

*::selection {
  background: #70ff0a;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}

select,
input,
textarea,
button {
  font: inherit;
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input:disabled {
  background-color: rgba(255, 255, 255, 0);
  cursor: not-allowed;
}

select {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}

input,
textarea {
  border: 0;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}
input::placeholder,
textarea::placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}
input[readonly]::-moz-placeholder, input:disabled::-moz-placeholder, textarea[readonly]::-moz-placeholder, textarea:disabled::-moz-placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]::placeholder, input:disabled::placeholder,
textarea[readonly]::placeholder,
textarea:disabled::placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder,
textarea[readonly]:-ms-input-placeholder,
textarea:disabled:-ms-input-placeholder {
  /* IE, Edge */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input::-ms-clear, input::-ms-reveal,
textarea::-ms-clear,
textarea::-ms-reveal {
  /* IE, Edge */
  display: none;
}
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button,
textarea::-webkit-inner-spin-button,
textarea::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
}

.inner {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}
@media (max-width: 1023px) {
  .inner {
    padding: 0 25px;
    margin-top: 8vh;
  }
}
@media (max-width: 767px) {
  .inner {
    padding: 0 16px;
    margin-top: 10vh;
  }
}

.container {
  position: relative;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://jeon-hyerin.github.io/landing/assets/images/bg/overlay.gif);
  background-position: 0 0;
  background-size: 250px;
  opacity: 0.1;
  pointer-events: none;
  z-index: 300;
}

.fix-top {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 30px;
  right: 30px;
  z-index: 10;
  text-align: center;
  border-radius: 50px;
  color: #222;
  transition: transform 0.3s;
  font-size: 14px;
  font-weight: bold;
}
.fix-top span {
  background: #fff;
  padding: 8px 20px;
  border-radius: 10px;
  display: block;
}
.fix-top:hover span {
  background: #70ff0a;
  color: #222;
}
.fix-top img {
  width: 40px;
  margin: 0 auto;
  margin-bottom: 5px;
}
@media (max-width: 767px) {
  .fix-top {
    bottom: 15px;
    right: 15px;
  }
  .fix-top span {
    background: #70ff0a;
  }
  .fix-top img {
    display: none;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
.header .inner {
  max-width: none;
}
.header .group-header {
  display: flex;
  align-items: center;
  padding: 35px 0;
  color: #fff;
  transition: color 0.3s;
}
@media (max-width: 1023px) {
  .header .group-header {
    padding: 20px 0 20px;
  }
}
@media (max-width: 767px) {
  .header .group-header {
    justify-content: space-between;
  }
}
.header .logo {
  font-size: 30px;
  font-weight: 600;
  padding: 0 20px;
  color: #fff;
  transition: color 0.3s;
}
@media (max-width: 1023px) {
  .header .logo {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .header .logo {
    font-size: 16px;
    padding: 0;
  }
}
.header .gnb {
  margin-left: auto;
}
@media (max-width: 1023px) {
  .header .gnb {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .header .gnb {
    display: none;
  }
}
.header .gnb .nav-list {
  display: flex;
  gap: 40px;
  align-items: center;
}
@media (max-width: 1023px) {
  .header .gnb .nav-list {
    gap: 40px;
  }
}
.header .gnb .nav-item {
  font-weight: 500;
}
.header .gnb .point {
  position: relative;
}
.header .gnb .point::after {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 8px;
  height: 8px;
  background: #70ff0a;
  border-radius: 50%;
  content: "";
}
.header .gnb .link-go {
  display: inline-block;
  padding: 18px 44px;
  background: #70ff0a;
  border-radius: 50px;
  color: #222;
  font-weight: 600;
  transition: transform 0.3s;
}
.header .gnb .link-go:hover {
  transform: scale(0.95);
}
@media (max-width: 1023px) {
  .header .gnb .link-go {
    padding: 8px 20px;
  }
}
.header .btn-menu {
  display: none;
}
@media (max-width: 767px) {
  .header .btn-menu {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .header .btn-menu span {
    width: 20px;
    height: 1px;
    background: #fff;
    display: block;
    transition: 0.3s;
  }
}
.header .btn-menu.active span:nth-child(1) {
  transform: rotate(45deg) translate(1px, 3px);
}
.header .btn-menu.active span:nth-child(2) {
  transform: rotate(-45deg) translate(1px, -3px);
}
.header.fixed .logo {
  color: #000;
}
.header.fixed .group-header {
  color: #000;
}

.side-nav {
  display: none;
}
.side-nav.active {
  position: fixed;
  z-index: 10;
  top: 80px;
  right: 20px;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  display: flex;
}
.side-nav li {
  padding: 10px 0;
}

.footer {
  color: #fff;
}
.footer .inner {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .footer .inner {
    flex-direction: column;
  }
}
.footer .group-sns {
  display: flex;
}
@media (max-width: 767px) {
  .footer .group-sns {
    justify-content: center;
    margin-bottom: 30px;
  }
}
.footer .group-sns a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 10px;
}
.footer .group-sns a.insta {
  background: #fff url(../images/sns02.png) no-repeat center/50%;
}
.footer .group-family {
  position: relative;
}
.footer .group-family .btn-family {
  position: relative;
  width: 200px;
  padding: 10px 20px;
  text-align: left;
  border: 1px solid rgb(45, 45, 45);
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}
.footer .group-family .btn-family::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  height: 7px;
  width: 7px;
  border-style: solid;
  border-color: #fff;
  border-width: 0px 2px 2px 0px;
  transform: rotate(-135deg);
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform-origin: center center;
}
@media (max-width: 767px) {
  .footer .group-family .btn-family {
    width: 100%;
  }
}
.footer .group-family .sub-list {
  display: none;
  position: absolute;
  background: #fff;
  bottom: calc(100% + 10px);
  color: #000;
  padding: 20px 30px;
  width: 100%;
  border-radius: 5px;
  line-height: 32px;
  font-weight: bold;
  color: #858585;
}
.footer .group-family .sub-list li:hover {
  color: #000;
}
.footer .group-family.on .sub-list {
  display: block;
}
.footer .group-family.on .btn-family::after {
  top: 40%;
  transform: rotate(45deg);
  transform-origin: center center;
}
.footer .copy {
  text-align: center;
  font-size: 12px;
  padding: 50px 0;
}

.headline {
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 60px;
}
@media (max-width: 1023px) {
  .headline {
    font-size: 28px;
    margin-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .headline {
    font-size: 24px;
  }
}

.sc-visual {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
  color: #fff;
}
.sc-visual::after {
  position: absolute;
  pointer-events: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 400px;
  background: rgb(240, 206, 197);
  background: linear-gradient(180deg, rgba(240, 206, 197, 0) 0%, rgb(4, 4, 4) 90%);
  content: "";
}
.sc-visual .bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
.sc-visual .text-area {
  position: relative;
  text-align: center;
  z-index: 1;
  width: 100%;
}
.sc-visual .text-area h2 {
  font-family: var(--font-en1);
  font-size: 100px;
  font-weight: 700;
  line-height: 1.2;
}
.sc-visual .text-area h2 span {
  display: block;
}
@media (max-width: 1280px) {
  .sc-visual .text-area h2 {
    font-size: 80px;
  }
}
@media (max-width: 1023px) {
  .sc-visual .text-area h2 {
    font-size: 60px;
  }
}
@media (max-width: 1023px) {
  .sc-visual .text-area h2 {
    font-size: 32px;
    margin-bottom: 10px;
  }
}
.sc-visual .text-area .desc {
  color: #70ff0a;
  font-weight: 600;
  font-size: 20px;
}
@media (max-width: 767px) {
  .sc-visual .text-area .desc {
    font-size: 16px;
  }
}
.sc-visual .text-area p {
  margin-top: 50px;
  font-size: 22px;
  color: #858585;
}
@media (max-width: 1280px) {
  .sc-visual .text-area p {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .sc-visual .text-area p {
    font-size: 12px;
    max-width: 80%;
    margin: 25px auto 0;
  }
}

.sc-why2 {
  padding: 100px 0;
  color: #fff;
}
.sc-why2 .list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: #222;
  gap: 20px;
}
@media (max-width: 1023px) {
  .sc-why2 .list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  .sc-why2 .list {
    grid-template-columns: repeat(1, 1fr);
  }
}
.sc-why2 .list .item {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 50px 30px 20px;
  border-radius: 20px;
}
.sc-why2 .list .item h3 {
  font-size: 28px;
  font-weight: bold;
  line-height: 1.2;
}
.sc-why2 .list .item p {
  font-weight: 500;
  font-size: 16px;
  padding: 50px 0;
}
.sc-why2 .list .item img {
  width: 80px;
  margin-top: auto;
  margin-left: auto;
}
@media (max-width: 1280px) {
  .sc-why2 .list .item h3 {
    font-size: 22px;
  }
  .sc-why2 .list .item p {
    font-size: 14px;
    padding: 30px 0;
  }
}
@media (max-width: 1023px) {
  .sc-why2 .list .item {
    position: relative;
    padding: 30px 20px 30px 20px;
  }
  .sc-why2 .list .item p {
    padding: 15px 0;
    padding-right: 80px;
  }
  .sc-why2 .list .item img {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}
@media (max-width: 767px) {
  .sc-why2 .list .item h3 {
    font-size: 16px;
  }
  .sc-why2 .list .item p {
    font-size: 12px;
  }
}

.sc-intro {
  position: relative;
  z-index: 2;
  color: #fff;
  padding: 50px 0;
  background: #040404;
}
.sc-intro .group-intro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
@media (max-width: 767px) {
  .sc-intro .group-intro {
    grid-template-columns: repeat(1, 1fr);
  }
}
.sc-intro .group-intro .item {
  flex: 1;
  border: 1px solid #fff;
  padding: 50px;
  border-radius: 20px;
}
@media (max-width: 1023px) {
  .sc-intro .group-intro .item {
    padding: 30px 20px;
  }
}
.sc-intro .group-intro .title {
  font-size: 32px;
  font-weight: bold;
}
@media (max-width: 1023px) {
  .sc-intro .group-intro .title {
    font-size: 22px;
  }
}
.sc-intro .group-intro .desc {
  padding: 20px 0 40px;
}
@media (max-width: 1023px) {
  .sc-intro .group-intro .desc {
    font-size: 14px;
  }
}
.sc-intro .group-intro .hash-area {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.sc-intro .group-intro .hash-area span {
  border: 1px solid #fff;
  padding: 3px 14px;
  border-radius: 50px;
  color: #d0d0d0;
  font-size: 14px;
}
.sc-intro .link-plan {
  display: block;
  text-align: center;
  width: 200px;
  height: 50px;
  line-height: 50px;
  margin: 50px auto;
  background: #70ff0a;
  color: #222;
  font-weight: bold;
  border-radius: 4px;
}

.sc-why {
  position: relative;
  background: #fff;
  padding: 300px 0 300px;
}
.sc-why .inner {
  padding: 0;
}
@media (max-width: 1023px) {
  .sc-why {
    padding: 150px 0;
  }
}
.sc-why::after {
  position: absolute;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20vh;
  background: rgb(240, 206, 197);
  background: linear-gradient(0deg, rgba(240, 206, 197, 0) 0%, rgb(4, 4, 4) 90%);
  content: "";
}
@media (max-width: 1023px) {
  .sc-why::after {
    height: 60px;
  }
}
.sc-why .bg1 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 300px;
  background: url(../images/bg.png) no-repeat;
  transform: rotate(180deg);
  background-position: top 0;
  background-size: 100% 100%;
}
@media (max-width: 1023px) {
  .sc-why .bg1 {
    height: 150px;
  }
}
.sc-why::before {
  position: absolute;
  pointer-events: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20vh;
  background: rgb(240, 206, 197);
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  z-index: 1;
  content: "";
}
.sc-why .bg2 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 300px;
  background: url(../images/bg1.png) no-repeat;
  background-position: top 0;
  background-size: 100% 100%;
}
@media (max-width: 1023px) {
  .sc-why .bg2 {
    height: 150px;
  }
}
.sc-why .why-list {
  position: relative;
  z-index: 2;
  padding: 100px 0;
  text-align: center;
  overflow: hidden;
}
@media (max-width: 767px) {
  .sc-why .why-list {
    padding: 50px 0;
  }
}
.sc-why .why-list li.m-block {
  display: none;
}
@media (max-width: 767px) {
  .sc-why .why-list li {
    display: flex;
  }
  .sc-why .why-list li:nth-child(2n) {
    justify-content: flex-end;
  }
  .sc-why .why-list li.m-block {
    display: flex;
  }
  .sc-why .why-list li + li h3 {
    border-top: 1px solid #000;
  }
}
.sc-why .why-list h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  font-size: 50px;
}
.sc-why .why-list h3:nth-child(2) {
  display: none;
}
.sc-why .why-list h3:nth-child(3) {
  display: none;
}
.sc-why .why-list h3 img {
  width: 60px;
}
.sc-why .why-list h3 span {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0 10px;
}
@media (max-width: 1023px) {
  .sc-why .why-list h3 {
    font-size: 38px;
  }
  .sc-why .why-list h3 img {
    width: 43px;
  }
}
@media (max-width: 767px) {
  .sc-why .why-list h3 {
    font-size: 18px;
    font-size: 30px;
    white-space: nowrap;
  }
  .sc-why .why-list h3:nth-child(2) {
    display: flex;
  }
  .sc-why .why-list h3:nth-child(3) {
    display: flex;
  }
  .sc-why .why-list h3 img {
    width: 40px;
  }
  .sc-why .why-list h3 span {
    margin: 0;
  }
}

.sc-mate {
  position: relative;
  background: #fff;
  height: 40vh;
  padding: 100px 0 50px;
  overflow: hidden;
}
@media (max-width: 1023px) {
  .sc-mate {
    height: auto;
    padding: 100px 0 100px;
  }
}
@media (max-width: 767px) {
  .sc-mate {
    padding-top: 0;
  }
}
.sc-mate .gauge {
  position: absolute;
  bottom: 55px;
  left: 0;
  width: 100%;
}
.sc-mate .gauge .run {
  position: absolute;
  bottom: 0;
  left: 0;
}
.sc-mate .gauge .run.student {
  width: 150px;
}
@media (max-width: 1023px) {
  .sc-mate .gauge .run.student {
    left: 50%;
  }
}
@media (max-width: 767px) {
  .sc-mate .gauge .run.student {
    width: 100px;
    left: 40%;
  }
}
.sc-mate .gauge .run.mate {
  left: 20%;
  width: 200px;
}
@media (max-width: 1023px) {
  .sc-mate .gauge .run.mate {
    left: 70%;
  }
}
@media (max-width: 767px) {
  .sc-mate .gauge .run.mate {
    width: 150px;
    left: 60%;
  }
}
.sc-mate .gauge .run .img {
  transform: scale(-1, 1);
}
.sc-mate .group-step .list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
@media (max-width: 1023px) {
  .sc-mate .group-step .list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  .sc-mate .group-step .list {
    grid-template-columns: repeat(1, 1fr);
  }
}
.sc-mate .group-step .item {
  position: relative;
  background: #000;
  color: #fff;
  border-radius: 5px;
  padding: 20px 24px;
}
.sc-mate .group-step .item .line {
  position: absolute;
  bottom: 0;
  height: 5px;
  background: #70ff0a;
  width: 0%;
  left: 0;
}
.sc-mate .group-step .item .title {
  font-size: 22px;
  font-weight: 500;
  display: flex;
}
.sc-mate .group-step .item .title::before {
  display: inline-block;
  width: 5px;
  height: 5px;
  background: #70ff0a;
  border-radius: 50%;
  vertical-align: top;
  margin-top: 12px;
  margin-right: 10px;
  content: "";
}
@media (max-width: 1023px) {
  .sc-mate .group-step .item .title {
    font-size: 18px;
  }
  .sc-mate .group-step .item .title::before {
    margin-top: 10px;
  }
}
.sc-mate .group-step .item .info {
  font-size: 15px;
  opacity: 0.5;
  font-weight: 300;
  padding-top: 20px;
}
@media (max-width: 1023px) {
  .sc-mate .group-step .item .info {
    padding-top: 10px;
    font-size: 14px;
  }
}

.sc-reivew {
  padding: 100px 0;
  color: #fff;
  overflow: hidden;
}
.sc-reivew .contents {
  position: relative;
}
.sc-reivew .contents .roll-text {
  display: flex;
}
.sc-reivew .contents .roll-text#textMotion2 {
  justify-content: flex-end;
  margin-top: 20px;
}
@media (max-width: 767px) {
  .sc-reivew .contents .roll-text#textMotion2 {
    margin-top: 10px;
  }
}
.sc-reivew .review-list {
  display: flex;
  gap: 20px;
}
.sc-reivew .review-list + .review-list {
  margin-left: 20px;
}
@media (max-width: 767px) {
  .sc-reivew .review-list {
    gap: 10px;
  }
  .sc-reivew .review-list + .review-list {
    margin-left: 10px;
  }
}
.sc-reivew .review-list .item {
  background: #fff;
  color: #222;
  padding: 20px 30px;
  border-radius: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sc-reivew .review-list .item strong {
  display: block;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
}
.sc-reivew .review-list .item p {
  font-size: 14px;
  color: #858585;
  margin-top: 20px;
}
@media (max-width: 767px) {
  .sc-reivew .review-list .item {
    width: 180px;
    padding: 10px 20px;
  }
  .sc-reivew .review-list .item strong {
    font-size: 16px;
  }
  .sc-reivew .review-list .item p {
    font-size: 12px;
  }
}

.sc-company {
  color: #000;
  background: #fff;
  padding: 100px 0;
}
.sc-company .company-msg {
  color: #858585;
}
.sc-company .company-msg br {
  display: none;
}
.sc-company .company-msg em {
  font-weight: bold;
  color: #000;
}
@media (max-width: 767px) {
  .sc-company .company-msg br {
    display: block;
  }
}
.sc-company .list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 20px;
  gap: 20px;
}
@media (max-width: 1023px) {
  .sc-company .list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  .sc-company .list {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
}
.sc-company .list .item {
  position: relative;
  background: #000;
  padding: 10px 20px 10px 10px;
  border-radius: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 20px;
}
.sc-company .list .item .img-box {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sc-company .list .item .img-box img {
  height: 20px;
}
.sc-company .list .item .desc-box {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 12px;
  color: #fff;
  flex: 1;
  gap: 3px;
}
.sc-company .list .item .desc-box strong {
  font-weight: bold;
  font-size: 16px;
  line-height: 1;
  margin-bottom: auto;
  margin-bottom: 5px;
}
.sc-company .list .item .desc-box span {
  line-height: 1;
  font-size: 11px;
  opacity: 0.6;
}
.sc-company .list .item .link-go {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: #70ff0a;
  font-size: 11px;
  padding: 9px 10px;
  border-radius: 40px;
  font-weight: bold;
  line-height: 1;
}
.sc-company .link-all {
  display: block;
  text-align: center;
  width: 200px;
  height: 50px;
  line-height: 50px;
  margin: 50px auto;
  background: #70ff0a;
  color: #222;
  font-weight: bold;
  border-radius: 4px;
}

/* 러닝메이트 좌측에서 우측으로 이동 */
@keyframes moveLeftToRight {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}

/* 기본 상태 (1024px 이상) */
.sc-mate .gauge .run.student {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 150px;
  animation: moveLeftToRight 5s linear infinite;
}

/* 1023px 이하일 때 */
@media (max-width: 1023px) {
  .sc-mate .gauge .run.student {
    left: 50%;
    animation: moveLeftToRight 5s linear infinite;
  }
}

/* 767px 이하일 때 */
@media (max-width: 767px) {
  .sc-mate .gauge .run.student {
    width: 100px;
    left: 40%;
    animation: moveLeftToRight 5s linear infinite;
  }
}